[submodule "vim/bundle/python-vim"]
	path = vim/bundle/python-vim
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
